name: Run micromamba tests

on:
  workflow_dispatch:
  pull_request:
    branches:
      - master

jobs:
  test_micromamba:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/checkout@v2
        with:
          repository: mamba-org/mamba
          ref: master
          path: upstream-mamba
      - uses: actions/checkout@v2
        with:
          repository: conda-incubator/conda-lock
          ref: master
          path: conda-lock
      - uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      - name: Setup env micromamba nightly release
        shell: bash
        run: |
          python -m pip install pytest requests
      - name: Install zsh and xonsh on Linux
        shell: bash
        if: runner.os == 'Linux'
        run: |
          sudo apt-get install zsh xonsh -y
      - name: Setup env micromamba nightly release
        shell: bash
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          curl $(python get_latest_micromamba.py nightly) -L -o micromamba
          chmod u+x ./micromamba
      - name: Run tests on micromamba nightly
        shell: bash
        run: |
          export TEST_MAMBA_EXE=$(pwd)/micromamba
          export CONDA_PREFIX=$(pwd)/mambaroot
          export MAMBA_ROOT_PREFIX=$(pwd)/mambaroot
          mkdir -p $CONDA_PREFIX
          ./micromamba install xtensor -c conda-forge
          pytest upstream-mamba/test/micromamba/

      - name: Run conda-lock tests
        shell: bash
        continue-on-error: true
        if: runner.os == 'Linux' || runner.os == 'macOS'
        run: |
          export CONDA_PREFIX=$(pwd)/mambaroot
          export MAMBA_ROOT_PREFIX=$(pwd)/mambaroot
          mkdir -p $CONDA_PREFIX
          export PATH=$(pwd):$CONDA_PREFIX/bin/:$PATH

          ./micromamba install mamba pip pytest-cov pytest-xdist -c conda-forge

          cd conda-lock
          python -m pip install ensureconda==1.2.1
          python -m pip install -r requirements.txt
          python -m pip install -r requirements-dev.txt
          python -m pip install .

          cp -a tests "${RUNNER_TEMP}/"
          pushd "${RUNNER_TEMP}"
          export TMPDIR="${RUNNER_TEMP}"

          pytest --showlocals -vrsx --cov=conda_lock tests